<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal</title>
</head>
<body>
    <h1>Animal buscado</h1>
    <p> ********************************************************</p>
    <p>Nombre: {{ animal.nombre }}</p>
    <p>Nombre Cientifico: {{ animal.nombre_cientifico }}</p>
    <p>Habitat: {{ animal.habitat }}</p>
    <p>Dato Curioso: {{ animal.dato_curioso }}</p>
    <p>Descripcion: {{ animal.descripcion }}</p>
    <p>Video: {{ animal.audio_video }}</p>
    <p>Imagen: {{ animal.url_imagen }}</p>
    <p> ********************************************************</p>
    <p>###</p>
    {{ver_especifico}}

   

</body>
</html>