<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APLICACION DE ANIMALES</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <MAIn class="container p-4">

            <h1 class="display-4 title text-center mt-4">Aplicacion de ANIMALES</h1>
            <div>
                    <div class="col-md-4 offset-md-4 my-auto">
                        <div class="card">
                            <div class="card-header">
                                    <form action="/crear-animal" method="POST">
                                        <div class="form-group">
                                            <input type="text" name = "nombre" placeholder="Nombre" class="form-control autofocus">
                                            <input type="text" name = "nombre_cientifico" placeholder="Nombre Cientifico" class="form-control autofocus">
                                            <input type="text" maxlength="200" name = "habitat" placeholder="Habitat" class="form-control autofocus">
                                            <input type="text" name = "dato_curioso" placeholder="Dato Curioso" class="form-control autofocus">
                                            <input type="text" name = "descripcion" placeholder="Descripcion" class="form-control autofocus">
                                            <input type="text" name = "audio_video" placeholder="Enlace del Video" class="form-control autofocus">
                                            <input type="text" name = "imagen" placeholder="Enlace de la imagen" class="form-control autofocus">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Guardar
                                        </button>

                                    </form>
                            </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        {% for animal in animales %}
                                            <li class="list-group-item">{{animal.nombre}}</li>
                                            <li class="list-group-item">{{animal.nombre_cientifico}}</li>
                                            <li class="list-group-item">{{animal.habitat}}</li>
                                            <li class="list-group-item">{{animal.dato_curioso}}</li>
                                            <li class="list-group-item">{{animal.descripcion}}</li>
                                        {% endfor %}   
                                    </ul>
                                </div>

                        </div>

                    </div>
            </div>
    </MAIn>
</body>
</html>