<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jaikuaa - Itaipu</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 bg-opacity-50">
    <div class="h-full pb-10">
      <div class="flex min-w-0 flex-1 flex-col overflow-hidden">
        <div class="relative z-0 flex flex-1 overflow-hidden">
          <main
            class="relative z-0 flex-1 overflow-y-auto focus:outline-none xl:order-last"
          >
            <article>
              <!-- Profile header -->
              <div>
                <div class="h-80">
                  <img
                    class="object-none object-center w-full lg:h-80"
                    src="../static/Banners_CTI-04.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
                <div class="mt-6 min-w-0 flex-1 sm:block">
                  <h1 class="truncate text-2xl font-bold text-gray-900 text-center">
                    {{animal.nombre}}
                  </h1>
                </div>
              </div>
              <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
                <div class="mt-6 min-w-0 flex-1 sm:block">
                  <div class="place-content-center">
                    <img src="{{animal.url_imagen}}" width="560" height="315" alt="">
                  </div>
                </div>
              </div>
              
              
              <!-- Description list -->
              
              <div class="mx-auto mt-6 max-w-5xl px-4 sm:px-6 lg:px-8">
                <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Nombre científico:
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 italic">
                      {{animal.nombre_cientifico}}
                    </dd>
                  </div>

                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">Habitat</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{animal.habitat}}</dd>
                  </div>

                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Dato curioso
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      {{animal.dato_curioso}}
                    </dd>
                    <dt class="text-sm font-medium text-gray-500">
                      Descripcion
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      {{animal.descripcion}}
                    </dd>
                  </div>
                  <div class="sm:col-span-1">
                    
                    <iframe width="560" height="315" src="{{animal.audio_video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </dl>
              </div>
            </article>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
